*{
    box-sizing: border-box;
}
body {
    margin: 0;
    height: 100%;
    background-color: #D5CACA;
}

p{
    margin:0;
}

.body {
    width: 90%;
    max-width: 1440px;
    min-height: 100vh;
    background: #FFFFFF;
    font-family: Roboto, Arial, monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 114.69%;
    color: #000;
    margin: 0 auto;
}

/*.img-container {*/
/*    background: #E9EAEE;*/
/*    position: relative;*/
/*}*/

/*.thumbs {*/
/*    position: absolute;*/
/*    bottom: 25px;*/
/*}*/

.main-content {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    /*align-items: center;*/
}

@media (max-width: 1000px) {
    .main-content{
        flex-direction: column;
    }
}

.col-6 {
    /*display: table-cell;*/
    height:100%;
    width: 100%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 3em;
}

h1{
     font-style: normal;
     font-weight: normal;
     font-size: 46px;
     line-height: 114.69%;
     margin-bottom:25px;
 }

.type-block {
    display: table;
    width: 100%;
    margin-bottom: 25px;
}

.underline {
    font-size: 28px;
    line-height: 114.69%;
    text-decoration: underline;
    display: table-cell;
    width: 40%;
}

.choice {
    display: table-cell;
    width: 60%;
    font-size: 24px;
    line-height: 114.69%;
}

select {
    border: 1px solid #D5CACA;
    box-sizing: border-box;
    border-radius: 6px;
    font-size: 19px;
    line-height: 114.69%;
    padding: 11px 30px;
    background-color: white;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
    background-position: calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(0% - 2.5em) 0.5em;
    background-size: 5px 5px,
    5px 5px,
    1px 1.5em;
    background-repeat: no-repeat;

}

select:focus {
    border-color: #D5CACA;
    outline: 0;
}

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

.how {
    font-size: 16px;
    line-height: 114.69%;
    text-decoration: underline;
    color: #207FA8;
}

.price {
    display: table;
    width: 100%;
}

.price p {
    font-weight: 500;
    font-size: 42px;
    line-height: 114.69%;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
    display: table-cell;
    padding-right: 0;
    width: 40%;
}

button {
    background: #FE843F;
    border-radius: 41px;
    border: 1px solid transparent;
    font-size: 25px;
    line-height: 114.69%;
    color: #FFFFFF;
    padding: 15px 66px;
    vertical-align: middle;
    display: table-cell;
}


#c-wrapper {
    width: 100%;
    height: 100%;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: lightgrey;
}

#c {
    width: 100%;
    height: 100vh;
    max-width: 690px;
    max-height: 540px;
}

#loadingPercent {
    position: absolute;
    z-index: 5;
    /*display: none;*/
    background-color: white;
    border-radius: 10px;
    padding: 5px;
}

#details, #mats-wrapper {
    visibility: hidden;
    position: absolute;
    display: flex;
    min-width: 100%;
    height: 20%;
    bottom: 0;
    justify-content: center;
    align-items: center;
    /*overflow: scroll;*/
    flex-wrap: nowrap;
    z-index: 5;
    /*text-align: center;*/
    /*text-wrap: none;*/
}

#details {
    background-color: rgba(0%, 100%, 0%, .5);
}

#mats {
    display: flex;
    background-color: rgba(0%, 0%, 100%, .3);
    flex-grow: 1;
    justify-content: center;
    /*overflow:scroll;*/
}

.item {
    width: 8vh;
    height: 80%;

    /*background-color: grey;*/
    margin: 5px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.arrow {
    background-color: rgba(100%, 0%, 0%, .5);
    color: white;
    font-size: larger;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
}

#lamp{
    position:absolute;
    top: 10px;
    right:10px;
}

#right-buttons{
    position: absolute;
    right:10px;
}

#c-center{
    position:absolute;
    text-align: center;
}

#c-center-selects{
    display:flex;
    /*justify-content: space-between;*/
}

.selects-item{
    background-color: #F1F1F3;
    width:120px;
    height:120px;
    margin:10px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.selects-item p{
    margin-top: .5em;
}

.selects-item:hover{
    background-color: #FE843F;
    color:white;

}

#low-ked, #high-ked{
    display: none;
}


